*{
 margin: 0;
}

html, body {
background-color: #999999;
margin: 0;
padding: 0;
height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */

}

#wrapper{
    width:60em;	
	background-color:#666666;
}

#divbody{
	margin:auto;
	/*width: 60em;*/
	background-color:#666666;
	/*margin: auto;*/
	min-height: 100%; /* Mindesthöhe für moderne Browser */
    height:auto !important; /* Important Regel für moderne Browser */
    height:100%; /* Mindesthöhe für den IE */ 
    overflow: hidden !important; /* FF Scroll-leiste */
	width:60em; 
	border-left-style:solid;
	border-left-color:black;
	border-right-style:solid;
    border-right-color:black;
}

#head{
	background-color: #3B5998;
	height:6em;
	border-bottom-style:solid;
	border-bottom-color:black;
}

#headcontent{
	position:relative;
	top:1em;
	width: 55em;
	margin: auto;
	
}

#logo{
	float:left;
	/*background-color: blue;*/
	height: 3.75em;
	background-image:url(../images/logo.png);
	width:14.625em;
}

#login{
	width: 40em;
    float: right;
    /*margin-right: 10em;*/
	/*background-color:green;*/
	height: 3.75em;
	margin:auto;
}

#loginformular{
	margin-top:1.1em;
	color: white;
	float:right;
}

#loginformular > input{
    border-style:solid;
    border-color:black;
	border-width: 0.188em;
}

#email{
    width: 10em;
}

#password{
    width: 10em;
}

#loginbutton{
/*	float:left;*/
}

#content{
	/*background-color:green;*/
	margin:auto;
  	width: 60em;
	height:40em;
    border-bottom-color:black;
	border-bottom-style:solid;
}

#beschreibung{
	float: left;
	height:inherit;
	width:40em;
	background-image:url(../images/atmel.jpg);
}


#beschreibungtext{
    background-color:#3B5998;
    width:20em;
    height:inherit;
    opacity:0.9;
	
    /*border-style:solid;*/
    /*border-color:black;*/
    color:white;
    
}

#beschreibungtextcontent{
	position:relative;
	top:3em;
	
}

#about{
	/*position:relative;
	top:5em;
	*/
	margin:auto;
	width:15em;
	border-style:solid;
	border-color:white;
	padding: 1em;
	
}

/*
#abouthead{
	font-weight:bold;
	font-size:1.2em;
}
*/

#registrierung{
    float:left;
	width:20em;
	height:inherit;
	background-color:#4B70BF;
	
}

#registerformular{
	/*position:relative;
	top:5em;
	*/
	
	width:13em;
	margin:auto;
	margin-top:3em;
   	color:white;
	
}

#registerformular > *{
     width: 11em;  
     /*float:left;*/    
}

#registerformularfieldset{
	border-color:white;
	border-style:solid;
	
}

#registerformularfieldset input{
  	border-style:solid;
    border-color:black;;
	margin-bottom:1em;
    
}


#registrierunginfo{
	/*position:relative;
	top:7em;
	*/
	margin:auto;
	width:13em;
	color:white;
	margin-top:1em;
}

.push{
	/*height:4em;*/
	
}

#footer{
	background-color:#666666;
	color:white;
	min-height:7em;
	margin-top:0;
	/*background-color:black;*/
	/*background-image:url(../images/blackpixel.png);*/
	/*background-repeat:repeat-y*/
	/*height:auto;*/
	
}

#footercontent{
	margin:auto;
	width:60em;
	height:inherit;
	background-color:#666666;
	padding:1em;
}

.legend{
	font-size:1.2em;
	font-weight:bold;
}

.clear{
	clear:both;
}
